@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #173b80;
    font-family: 'Roboto Mono', sans-serif;
    scroll-behavior: smooth;
}

.inicio {
    width: 100%;
    height: 100vh;
    background-image: url('../img/mejorada.jpeg');
    background-size: cover;            /* Cubre toda la pantalla */
    background-repeat: no-repeat;
    background-position: center;       /* Centra la imagen */
    display: flex;                     /* Para centrar el contenido */
    justify-content: center;
    align-items: center;
}

.text h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 3.5em;                   /* Un tamaño de fuente ligeramente mayor */
    text-align: center;
    color: white;                       /* Texto blanco para buen contraste */
    font-weight: bold;
    text-transform: uppercase;          /* Hace que el texto sea más llamativo */
    letter-spacing: 4px;                /* Espaciado entre letras para un estilo más limpio */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6); /* Sombra más pronunciada para legibilidad sobre la imagen */
    padding: 20px;
    border-radius: 10px;                /* Bordes suavizados */
    /* background: rgba(57, 95, 218, 0.5);     /* Fondo oscuro semitransparente para mejorar la legibilidad del texto */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra externa para dar profundidad */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transiciones suaves */
    opacity: 0;
    transform: translateY(20px);        /* Animación inicial */
}
.text h2.visible {
    opacity: 1;
    transform: translateY(0);           /* Animación de entrada */
}

/* Navbar */
nav {
    width: 100%; /* Asegura que el navbar cubra todo el ancho de la página */
    position: fixed; /* Fija el navbar en la parte superior */
    top: 0;
    left: 0;
    background-color: #091c41;
    font-size: 20px;
    z-index: 10; /* Asegura que el navbar esté sobre el contenido */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 15px 0; /* Ajusta el padding para darle espacio vertical */
}

.menu-horizontal > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal > li:hover {
    background-color: #5E548E; 
    transition: .5s;
    border-radius: 19px;
    margin-top: 2px;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 250px;
    background-color: #5a183f;
    text-decoration: none;
    transition: .5s;
    border-radius: 7px;
    margin: 0;
    padding: 0;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: rgba(255, 255, 255, 0.671);
    transition: .5s;
    border-radius: 7px;
}

.menu-vertical li a {
    display: block;
    color: #6C757D;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    transition: .5s;
}
/*Seccion de Preguntas*/


.cards-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;    
    flex-wrap: wrap;         
    gap: 40px;               
    padding: 20px;
}
.card-container {
    position: relative;
    width: 250px;
    height: 320px;
    border-style: none;
}
.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    border: none;
    background-color: #5f9dee;
}
.card:hover {
    transform: rotateY(180deg);
}
.card-front {
    color: #fffcfc;
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;   
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.5rem;        /* Tamaño de la fuente mayor para destacar */
    font-weight: bold;        /* Negrita para hacerlo más legible */
    text-align: center;
    border-radius: 10px;      /* Bordes redondeados para suavizar el diseño */
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Efecto suave */
}
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #fafafa;
    color: #333;
    transform: rotateY(180deg);
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
}
.Preguntas {
    background-image: linear-gradient(#2478e3 ,#13509e );
    display: flex;              /* Alinea todo el contenido dentro de la sección */
    flex-direction: column;     /* Asegura que los elementos estén en una columna */
    justify-content: center;    /* Centra verticalmente */
    align-items: center;        /* Centra horizontalmente */
    text-align: center;         /* Centra el texto */
    padding: 20px;              /* Espacio alrededor */
}

.Preguntas h3 {
    font-size: 2rem; /* Tamaño mayor */
    font-weight: bold; /* Negrita */
    color: #fff; /* Color blanco */
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-bottom: 20px; /* Margen inferior */
    position: relative;
    padding-bottom: 10px;
}

.Preguntas h3::after {
    content: ''; 
    width: 60px; 
    height: 3px;
    background-color: #fff; 
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    border-radius: 5px; 
}

.otra-seccion {
    padding: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    height: 100vh;
    background-color: lightgray;
} 
.otra-seccion h4 {
    display: flex;
    justify-content: center;
}
.container-servicios {
    display: flex;
    flex-direction: row; 
    align-items: flex-start; /* Alinear en la parte superior */
    justify-content: center; /* Centrarlas horizontalmente */ /* Permitir que las cards se ajusten si es necesario */
    margin: 0 auto;
    max-width: 1000px; /* Aumentar el tamaño según sea necesario */
    gap: 20px; /* Espacio entre las cards */
}

.card-2 {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 300px; /* Altura fija para las cards */
    width: 450px;
    margin: 30px;
    padding: 15px;
    overflow: hidden;
    transition: height 1s;
    border-radius: 11px;
}

.card-img img {
    max-width: 100%; /* Asegurarse de que la imagen ocupe el ancho de la card */
    height: auto; /* Ajuste de altura automático */
}

.card-content {
    margin-top: 20px;
    text-align: center; /* Centrar el texto */
}

.card-2:hover {
    height: 680px;
}
.wave-separador {
    width: 100%;
    height: 20px;
    background-size: cover;
    background-image: linear-gradient(#a8b6c7,#77a6e0, #0f64d4);
}  
.wave-separador-2 {
    width: 100%;
    height: 20px;
    background-size: cover;
    background-image: linear-gradient(#0f64d4, #77a6e0,lightgray);
}
