body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center-screen {
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
}  
.card {
    height: 100%;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagen  {
    align-items: center;
    margin-bottom: -25%;
} 
.imagen img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}  
nav {
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
}
.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu-horizontal > li:hover {
    background-color: darkgray; 
}
.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 100px;
    background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
} 
.menu-vertical li:hover {
    background-color: black;
} 
.menu-vertical li a {
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
}