
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: beige;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
} 
.container {
    border-radius: 10px;
    width: 1200px;
    min-height: 800px;
    margin: 0 auto;
    padding: 50px;
    color: #fff;
    display: flex;
    position: relative; 
    background-color: #3A928A;
    
}
.left {
    width: 60%;
    padding: 20px;
}
.calendar{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; 
    color: cadetblue; 
    border-radius: 5px;
    background-color: #fff;
}
.calendar::before,
.calendar::after {
    content: "";
    position: absolute; 
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #d3d5d6d7;
    transform: translateY(-50%);
}
.calendar::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153, 153, 153);
}
.calendar .month {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}
.calendar .month .prev,
.calendar .month .next {
    cursor: pointer;
}
.calendar .week {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
} .calendar .week div {
    width:  14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
} 
.calendar .days .day {
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #f5f5f5;
}
.calendar .day:not(.prev.prev-date , .next-date):hover {
    color: #fff;
    background-color: #3A928A;
}
.calendar .days .active {
    position:relative; 
    font-size: 2rem;
    color: #fff;
    background-color: #3A928A;
} 
.calendar .days .active::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px color(#3A928A);
} 
