body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 80%; /* Ajusta el ancho según sea necesario */
    max-width: 800px; /* Ajusta el máximo ancho según sea necesario */
    background-color: #f9f9f9; /* Opcional: Añade un color de fondo */
    padding: 20px; /* Opcional: Añade un padding */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opcional: Añade una sombra */
    border-radius: 10px; /* Opcional: Añade bordes redondeados */
}

h1 {
    text-align: center;
    color: #333;
}

.faq {
    margin-top: 20px;
}

.question {
    margin-bottom: 20px;
}

.question h2 {
    color: #0056b3;
}

.question p {
    margin: 10px 0 0 0;
    color: #666;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}